<!doctype html>
<html>
<head>
    <title>Follow the Leader</title>
    <!--Mocha Testing Framework--> 
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}
        <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <!--Bootstrap-->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--custom css -->
<link rel="stylesheet" href="/css/main.css">

<script src="https://use.typekit.net/itr3kpx.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>



</head>


<body>
<div class="container">
<header>

<div class="jumbotron">
   
        <h1 style="border: 5px solid red">
            <span class="title" style="border: 5px solid red">Cynthia</span>
            <img style="border: 5px solid red" class="profilePic" src="/img/Cynthia_Flame.png" alt="Cynthia Appiah AKA Ama Flame">
           <span class="title" style="border: 5px solid red">Appiah</span>
        </h1>
    
        <p>...Licensed Zumba Instructor
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
    </div>


<!--<img src="/img/business_card.png" alt="Cynthia Appiah AppiahC@gmail.com"> -->
</header>
{{{body}}}
</div>
{{#if showTests}}
<div id="mocha"></div>
<script src="/vendor/mocha.js"></script>
<script src="/vendor/chai.js"></script>

<script>
mocha.ui('tdd');
var assert = chai.assert;
</script>

<script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
    <script src="{{pageTestScript}}"></script>
    {{/if}}
<script>mocha.run();</script>
{{/if}}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/css/boostrap.js"></script> 
</html>