<!doctype html>
<html>
<head>
    <title>Follow the Leader</title>
</head>
<body>
<header>
<img src="/img/business_card.png" alt="Cynthia Appiah AppiahC@gmail.com"> 
</header>
{{{body}}}
</body>
</html>