
.jumbotron {
    background-image: url('/img/033.jpg');
    
}


h1 {
    text-align:center;
}

.jumbotron p,
.jumbotron {
  font-family: "proxima-nova"; 
  font-weight: bold; 
  color: white; 
  
 
  
}

.profilePic {
    padding-right: 0px;
    padding-left: 0px; 
}
