
.jumbotron {
    background-image: url('/img/033.png');
    
}


/*h1 {
    text-align:center;
    
}*/


.jumbotron h1 {
  font-family: "proxima-nova"; 
  font-weight: bold; 
  color: white;
  text-align: center; 
    
}

/*.title{
    margin-top: 60%;  
    
    display: inline-block;
}*/

.profilePic {
    margin: auto; 
    width: 25%;
    display: inline-block;
}
